In [ ]:
--1. How many actors are there with the last name ‘Wahlberg’? = 2

select count(*) 
from actor
where last_name = 'Wahlberg';

--2. How many payments were made between $3.99 and $5.99? = 5,607

select count(*) 
from payment
where amount between 3.99 and 5.99;

--3. What films have exactly 7 copies? (search in inventory) : inventory id : 32, 33, 34, 35, 36

select *
from inventory
where film_id = 7; 

--4. How many customers have the first name ‘Willie’? = 3
select count(*) 
from actor
where first_name like 'N%_k';


--5. What store employee (get the id) sold the most rentals (use the rental table)? = 2 

select max(staff_id)
from payment;

--6. How many unique district names are there?????
select postal_code, district 
from address
order by district;
--where district < 1;


--7. What film has the most actors in it? (use film_actor table and get film_id) ????
select max(actor_id), max(film_id)  
from film_actor;

select*
FROM film_actor;

--8. From store_id 1, how many customers have a last name ending with ‘es’? (use customer table) = 21
select count(*)
from  customer 
where last_name like '%es'


--9. How many payment amounts (4.99, 5.99, etc.) had a number of rentals above 250 for customers  = 1,257
-- with ids between 380 and 430? (use group by and having > 250)
SELECT count(amount)
FROM payment 
WHERE customer_id BETWEEN 380 AND 430;

--10. Within the film table, how many rating categories are there? And what rating has the most = nc-17 
--movies total?
SELECT max(rating) AS most
FROM film